@use "./variables" as *;

// mixins:-
@mixin check-box-shape($color) {
  cursor: pointer;
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  margin-bottom: 0px;
  &::before,
  &::after {
    position: absolute;
  }
  &::before {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 2px;
    background-color: $white-color;
    border: 1.5px solid $sec-color;
  }
  &:hover::before {
    border-color: $color;
  }
  &::after {
    content: "";
    left: 50%;
    top: 50%;
    width: 0;
    height: 0;
    border-radius: 2px;
    background-color: $color;
    transform: translate(-50%, -50%) rotate(3turn);
    -webkit-transform: translate(-50%, -50%) rotate(3turn);
    -moz-transform: translate(-50%, -50%) rotate(3turn);
    -ms-transform: translate(-50%, -50%) rotate(3turn);
    -o-transform: translate(-50%, -50%) rotate(3turn);
  }
  &:checked::after {
    content: "\f00c";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    color: $white-color;
    left: calc(50% + 1px);
    top: calc(50% + 1px);
    font-size: 1rem;
    border: 2px solid $color;
    width: 100%;
    height: 101%;
    transform: translate(-50%, -50%) rotate(0);
    -webkit-transform: translate(-50%, -50%) rotate(0);
    -moz-transform: translate(-50%, -50%) rotate(0);
    -ms-transform: translate(-50%, -50%) rotate(0);
    -o-transform: translate(-50%, -50%) rotate(0);
    @extend %flex-center-center;
  }
}

@mixin radio-shape($color) {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  &::before,
  &::after {
    content: "";
    position: absolute;
    @extend %translate-50;
    @extend %border-radius-50;
  }
  &::before {
    width: 16px;
    height: 16px;
    background-color: $white-color;
    border: 1.5px solid $sec-color;
  }
  &:hover::before {
    border-color: $color;
  }
  &::after {
    width: 0;
    height: 0;
  }
  &:checked {
    &::before {
      border-color: $color;
    }
    &:after {
      width: 12px;
      height: 12px;
      background-color: $color;
    }
  }
}

@mixin max-chars($num) {
  display: -webkit-box;
  -webkit-line-clamp: $num;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@mixin trans-y($per) {
  transform: translateY($per);
  -webkit-transform: translateY($per);
  -moz-transform: translateY($per);
  -ms-transform: translateY($per);
  -o-transform: translateY($per);
}

@mixin scale($num) {
  transform: scale($num);
  -webkit-transform: scale($num);
  -moz-transform: scale($num);
  -ms-transform: scale($num);
  -o-transform: scale($num);
}

@mixin grid($width, $gap) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($width, 1fr));
  gap: $gap;
}

@mixin border-rad($num) {
  border-radius: $num;
  -webkit-border-radius: $num;
  -moz-border-radius: $num;
  -ms-border-radius: $num;
  -o-border-radius: $num;
}

@mixin back-btn($top, $left) {
  position: absolute;
  top: $top;
  left: $left;
  padding: $field-top-padding $sec-element-padding;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  &:hover {
    .f-icon {
      color: $main-color;
    }
  }
  .f-icon {
    font-size: 1.3rem;
  }
}

// placeholders:-

%transition {
  transition-duration: 0.3s;
  transition-delay: 0s;
}

%reset {
  margin: 0;
  padding: 0;
}

%link {
  color: $black-color;
  text-decoration: none;
  cursor: pointer;
}

%flex-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

%flex-center-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

%flex-start-between {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

%flex--between {
  display: flex;
  justify-content: space-between;
}

%ni-flex-center-center {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

%flex-center-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

%grid-200-20 {
  @include grid(200px, 20px);
}

%grid-250-20 {
  @include grid(250px, 20px);
}

%grid-350-20 {
  @include grid(350px, 20px);
}

%translate-50 {
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

%translate-y-50 {
  @include trans-y(-50%);
}

%border-radius-5 {
  @include border-rad(5px);
}

%border-radius-10 {
  @include border-rad(10px);
}

%border-radius-50 {
  @include border-rad(50%);
}

%zero-trans {
  transition: 0s !important;
  -webkit-transition: 0s !important;
  -moz-transition: 0s !important;
  -ms-transition: 0s !important;
  -o-transition: 0s !important;
}

// Styles:-

%error-sign {
  @extend %translate-y-50;
  // content: "\f058";
  // color: #1ad922;
  // content: "\f057";
  // color: #fb0505;
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  position: absolute;
  right: 0;
  top: 50%;
}

%button-shape {
  @extend %flex-center-center;
  width: 160px;
  margin: 0 auto;
  outline: none;
  color: $white-color;
  border: 1px solid $main-color;
  background-color: $main-color;
  padding: $sec-element-padding $main-element-padding;
  &:hover {
    color: $main-color;
    background-color: transparent;
    border-color: $main-color;
  }
}

%social-media {
  @extend %flex-center-start;
  flex-wrap: wrap;
  gap: $sec-element-padding;
  > div {
    a {
      @extend %ni-flex-center-center;
      @extend %border-radius-5;
      width: 40px;
      height: 40px;
      background-color: $sec-color;
      &:hover {
        i {
          color: $main-color;
        }
      }
      i {
        color: $white-color;
        font-size: 1.5rem;
      }
    }
  }
}

%article-info {
  span {
    color: $sec-text-color;
    font-size: 0.9rem;
    &.input {
      cursor: pointer;
      font-style: italic;
      color: $sec-text-color;
      &:hover {
        color: $main-color;
      }
    }
  }
}
