// spacing(padding, margin):-
$main-element-padding: 20px;
$sec-element-padding: 10px;
$field-top-padding: 7px;
$up-down-padding: 100px;
// Light Mode colors :-
$black-color: #000;
$white-color: #fff;
$main-color: #059cb1;
$sec-color: #59c1bd;
$light-white-color: #eee;
$dark-white-color: #ccc;
$max-dark-white-color: #aaa;
$transparent-color: rgba(255, 255, 255, 0.7);
$main-transparent-color: rgba(5, 156, 177, 0.6);
$dark-transparent-color: rgba(0, 0, 0, 0.7);
$sec-text-color: #555;
$footer-background: rgb(19, 19, 19);
// Box Shadow:-
$main-box-shadow: 0px 3px 8px rgb(0 0 0 / 24%);
