*, ::after,
::before {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

body, ul, ul li {
  margin: 0;
  padding: 0;
}

a {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

body, .card .body form section .field, .card .body form .btns, .card .body form .btns input[type=submit],
.card .body form .btns input[type=button], section .container .sec-foot a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.head-shape span::after, .head-shape span::before,
.head-shape-w span::after,
.head-shape-w span::before, .card .body form section .field::after {
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.card {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.head-shape span,
.head-shape-w span {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

i {
  transition: 0s !important;
  -webkit-transition: 0s !important;
  -moz-transition: 0s !important;
  -ms-transition: 0s !important;
  -o-transition: 0s !important;
}

.card .body form section .field::after {
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  position: absolute;
  right: 0;
  top: 50%;
}

.card .body form .btns input[type=submit],
.card .body form .btns input[type=button], section .container .sec-foot a {
  width: 160px;
  margin: 0 auto;
  outline: none;
  color: #fff;
  border: 1px solid #059cb1;
  background-color: #059cb1;
  padding: 10px 20px;
}
.card .body form .btns input[type=submit]:hover,
.card .body form .btns input[type=button]:hover, section .container .sec-foot a:hover {
  color: #059cb1;
  background-color: transparent;
  border-color: #059cb1;
}

/* Start Global Rules:- */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-transform: capitalize;
  font-family: "Open Sans", sans-serif;
  background-position: center;
  background-size: cover;
}

html {
  scrollbar-color: #059cb1 #fff;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

a:hover {
  color: #059cb1;
}

ul {
  list-style: none;
}
input[type=submit],
input[type=reset],
input[type=button],
a {
  cursor: pointer;
}

input {
  caret-color: #059cb1;
}

.container {
  padding-left: 10px;
  padding-right: 10px;
  margin-right: auto;
  margin-left: auto;
}

/* Start Media Quires:- */
@media (max-width: 575px) {
  .container {
    padding: 0 10px;
    width: 100%;
  }
}
@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}
/* End Media Quires */
/* Start Animation Styling:- */
@-webkit-keyframes up-down-btn {
  from {
    margin-top: 15px;
  }
  to {
    margin-bottom: 15px;
  }
}
@keyframes up-down-btn {
  from {
    margin-top: 15px;
  }
  to {
    margin-bottom: 15px;
  }
}
/* End Animation Styling */
/* Start Selection Styling:- */
::-moz-selection {
  background: #000;
  color: #059cb1;
}

::selection {
  background: #000;
  color: #059cb1;
}

/* End Selection Styling */
/* Start Scroll Bar Styling:- */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: #059cb1;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #59c1bd;
}

/* End Scroll Bar Styling */
/* Start Head-Shape Styling:- */
.head-shape,
.head-shape-w {
  max-width: 600px;
  margin: auto;
  position: relative;
}
.head-shape span,
.head-shape-w span {
  display: block;
  margin: auto;
  height: 17px;
  width: 17px;
  background-color: transparent;
  border: 2px solid #59c1bd;
}
.head-shape span::after, .head-shape span::before,
.head-shape-w span::after,
.head-shape-w span::before {
  content: "";
  height: 2px;
  width: calc(50% - 20px);
  background-color: #59c1bd;
  position: absolute;
  top: 50%;
}
.head-shape span::before,
.head-shape-w span::before {
  left: 5px;
}
.head-shape span::after,
.head-shape-w span::after {
  right: 5px;
}

.head-shape-w span {
  border-color: #fff;
}
.head-shape-w span::after, .head-shape-w span::before {
  background-color: #fff;
}

/* End Head-Shape Styling */
section .container .sec-head {
  padding-bottom: 100px;
  text-align: center;
}
section .container .sec-head h2 {
  font-size: 1.9rem;
  color: #059cb1;
  margin: 0;
  margin-bottom: 10px;
}
section .container .sec-head p {
  max-width: 750px;
  margin: 0 auto;
  margin-bottom: 20px;
  font-size: 0.9rem;
  color: #555;
}
section .container .sec-foot {
  padding-top: 100px;
}
body {
  min-height: 100vh;
  background-image: url(../Data/Images/log_in_background.png);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px 20px;
  max-width: 850px;
  margin: auto;
  background-color: #fff;
}
@media (max-width: 767px) {
  .card {
    max-width: 400px;
  }
}
.card .head {
  padding: 0;
  padding-bottom: 50px;
  max-width: 85%;
  margin: auto;
  text-align: center;
}
@media (max-width: 767px) {
  .card .head {
    max-width: 100%;
  }
}
.card .head h2 {
  margin: 0;
  margin-bottom: 10px;
}
.card .head p {
  margin: 0;
  color: #555;
}
@media (max-width: 767px) {
  .card .head p {
    font-size: 0.95rem;
  }
}
.card .body form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
.card .body form section {
  min-width: 70%;
  margin: auto;
}
@media (max-width: 767px) {
  .card .body form section {
    min-width: 100%;
  }
}
.card .body form section label {
  display: block;
  margin-bottom: 10px;
}
.card .body form section .field {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  border-bottom: 2px solid #59c1bd;
  position: relative;
}
.card .body form section .field input[type=text] {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 7px 10px;
  border: none;
  outline: none;
  background-color: transparent;
}
.card .body form section .field .f-icon {
  color: #59c1bd;
}
.card .body form .btns {
  gap: 20px;
}
@media (max-width: 400px) {
  .card .body form .btns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
}
.card .body form .btns input[type=submit],
.card .body form .btns input[type=button] {
  display: inline-block;
  margin: initial;
}
@media (max-width: 400px) {
  .card .body form .btns input[type=submit],
.card .body form .btns input[type=button] {
    width: 100%;
  }
}
.card .body form .btns input[type=button] {
  background-color: #59c1bd;
  border-color: #59c1bd;
}